@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
}

html {
  scroll-behavior: smooth;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary {
  list-style: none;
}

details[open] .faq-plus {
  display: none;
}

details:not([open]) .faq-minus {
  display: none;
}
